@font-face {
    font-family: AnalogScript_PERSONAL_USE_ONLY;
    src: url(../fonts/AnalogScript_PERSONAL_USE_ONLY.otf);
}
body {

    font-family: AnalogScript_PERSONAL_USE_ONLY;
    background-image: url(../img/constelaciones\ semana\ 9\ .jpeg.jpeg);
    color: aliceblue;
    
    }
    
    .navbar-brand {
    
    font-size: 20px;
    
    color: #000;
    
    font-weight: bold;
    
    }
    
    #testimonial {
    
    background: url(../img/);
    
    padding: 50px 0 30px 0;
    
    text-align:center;
    
    margin-top: 40px;
    
    }
    
    #contact {
    
    display: flex;
    
    flex-direction: row;
    
    justify-content:space-around ;
    
    flex-wrap: wrap;
    
    }